<nav id="header" class="navbar navbar-expand-xl navbar-light bg-light fs-5">
  <div class="container-xl">
    <a class="navbar-brand" href="#">
      <img
        src="assets/Icons/LogoArgentinaProgramaLogo-AP.svg"
        alt="Logo Argentina Programa"
        id="logo-img"
        width="175"
        height="50"
        class="d-inline-block"
      /><span class="d-none d-md-inline-block logo fs-5">#YoProgramo</span>
    </a>
    <div
      class="media-icons ms-auto d-none d-sm-inline-block d-xl-none me-0 mb-0"
    >
      <a class="navbar-brand" href="https://ar.linkedin.com/in/ayeiasich"
        ><img src="assets/Icons/IconLinkedin.svg" alt="" width="24" height="24"
      /></a>
      <a class="navbar-brand" href="https://www.instagram.com/?hl=es"
        ><img src="assets/Icons/Instagram.svg" alt="" width="24" height="24"
      /></a>
      <a class="navbar-brand" href="https://github.com/AyelenIasich"
        ><img src="assets/Icons/IconGithubicon.svg" alt="" width="" height=""
      /></a>
      <button
        type="button"
        class="btn btn-sm btn-outline-login px-2 fs-6 ms-auto me-4"
        id="btn-login-sm"
      >
        Login in
      </button>
    </div>

    <button
      class="navbar-toggler float-end"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link me-2" aria-current="page" href="#main">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="#sobre-mi">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-contact me-2" href="#">Contacto</a>
        </li>

        <div
          class="media-icons d-sm-none d-md-none d-lg-none d-xl-inline-block"
        >
          <a class="navbar-brand" href="https://ar.linkedin.com/in/ayeiasich"
            ><img
              src="assets/Icons/IconLinkedin.svg"
              alt=""
              width="24"
              height="24"
          /></a>
          <a class="navbar-brand" href="https://www.instagram.com/?hl=es"
            ><img
              src="assets/Icons/Instagram.svg"
              alt=""
              width="24"
              height="24"
          /></a>
          <a class="navbar-brand" href="https://github.com/AyelenIasich"
            ><img
              src="assets/Icons/IconGithubicon.svg"
              alt=""
              width=""
              height=""
          /></a>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-login px-2 fs-6 d-sm-none d-md-none d-lg-none d-xl-inline-block"
        >
          Login in
        </button>
      </ul>
    </div>
  </div>
</nav>
