/* You can add global styles to this file, and also import other style files */

textarea{

 width: 2em;
 height: 9em;
}

.nombre{
  width: 2em;
  height: 9em;
}

// .card{
//   max-width: 55em;
//   max-height: 9em;
// }
