// ============== General Settings =================

li{
  cursor: move;
}

textarea{

  width: 50em;
  height: 9em;

 }

 .nombre{
   width: 2em;
   height: 9em;
 }

 // .card{
 //   max-width: 55em;
 //   max-height: 9em;
 // }

 .col-12{
  background-color:red;
 }

.col{
  background-color:green;
}
