//  ========= Color Variables ================

// Scroll Bar Colors

$scroll-thumb-color: #70768a;
$scroll-bar-color: #c5cadf;
$scroll-thumb-hover-color: #454f6b;

// main theme color

$main-color-light: #6a59d1;
$main-color-dark: #7c6cd9;
$link-navbar-color: #757575;

// =============== General Settings ===========
* {
  font-family: "Poppins";
}

// ===============Scroll Bar ==================

::-webkit-scrollbar {
  width: 10px;
  background: $scroll-bar-color;
}

::-webkit-scrollbar-thumb {
  background: $scroll-thumb-color;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-hover-color;
}

// ================== Nav Bar ==================
app-header {
  #header .logo {
    color: $link-navbar-color;
  }
  .nav-item a:hover {
    color: $main-color-light !important;
  }
  .btn-outline-login {
    border-color: $main-color-light !important;
    color: $main-color-light !important;
  }
  .btn-outline-login:hover {
    background-color: $main-color-light !important;
  }
}
